/*
    Gilroy FontFamily
*/
@font-face {
  font-family: "gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Gilroy-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "gilroy";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/Gilroy-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "gilroy";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/Gilroy-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "gilroy";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/Gilroy-Bold.woff2") format("woff2");
}
