@import url("./styles/fonts.css");
@import "tailwindcss";

@theme {
  --font-gilroy: "gilroy", serif;
  --color-money-green: #00ffa3;
}

@layer base {
  body {
    @apply w-full min-h-dvh relative font-gilroy overflow-x-hidden;
    background-color: #000000;
  }

  body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("assets/images/background-car.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.05;
    z-index: 0;
    pointer-events: none;
  }
}

@layer components {
  .container {
    @apply mx-auto w-full px-3;
    max-width: 2200px;
  }
}

.money-green {
  color: #00ffa3;
}
